<a href="https://colab.research.google.com/github/cool60334/Team_Project_Model/blob/main/CSV_process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSV

In [ ]:
# import csv

In [ ]:
# file = open("taipei_scenic_spot.csv")
# reader = csv.reader(file)
# data_list = list(reader)
# file.close()

In [ ]:
# # data_list[1].insert(0, "娛樂")
# # data_list[1].remove("娛樂")
# data_list[0].insert(0, "類別")
# data_list[0]

In [ ]:
# for i in range(1, (len(data_list)-1)):
#   data_list[i].insert(0, "娛樂")

In [ ]:
# data_list[2]

In [ ]:
# with open("taipei_scenic_spot_1.csv", "w", encoding="utf-8") as f:
#   for i in range(0, (len(data_list)-1)):
#     writer = csv.writer(f)
#     writer.writerow(data_list[i])

In [ ]:
# with open("taipei_scenic_spot.csv", "w", encoding="utf-8") as f:
#   writer = csv.writer(f)
#   writer.writerow(data_list[0])
#   for i in range (1, (len(data_list)-1)):
   
#     if data_list[i][8] == "臺北市":

#       writer.writerow(data_list[i])

# 資料處理

In [ ]:
import pandas as pd

In [ ]:
# 讀取csv檔案
f = pd.read_csv("a_lvr_land_a.csv", encoding = "utf-8")
pd.set_option('display.max_columns', 500)  # 增加顯示的列數

In [ ]:
# 移除不必要欄位
f = f.drop(["非都市土地使用分區", "非都市土地使用編定", "交易筆棟數", "備註", "移轉編號", "編號"], axis = 1)

In [ ]:
f = f.rename(columns={"鄉鎮市區": "dis", "交易標的": "sign", "土地位置建物門牌": "add", "土地移轉總面積平方公尺": "totalm2", "都市土地使用分區": "zone",
            "交易年月日": "tradeymd", "移轉層次": "tradef", "總樓層數": "totalf", "建物型態": "state", "主要用途": "mainuse", "主要建材": "mater",
            "建築完成年月": "comy", "建物移轉總面積平方公尺": "totalbm2", "建物現況格局-房": "room", "建物現況格局-廳": "hall", "建物現況格局-衛": "health",
            "建物現況格局-隔間": "sep", "有無管理組織": "org", "總價元":"tp", "單價元平方公尺": "unitp", "車位類別": "parkcat", "車位移轉總面積(平方公尺)": "parkm2",
            "車位總價元": "parkp", "主建物面積": "mainbm2", "附屬建物面積": "auxbm2", "陽台面積": "balm2", "電梯": "ele"})

In [ ]:
f

In [ ]:
# 移除英文欄位名稱
f = f.drop(0)

In [ ]:
# 移除交易標的 土地
for i in range(1, 569):
  if f["sign"][i]  == "土地":
    f = f.drop(i)

In [ ]:
# 重設index
f = f.reset_index(drop=True)

In [ ]:
# 移除交易標的 車位
for i in range(0, 477):
  if f["sign"][i]  == "車位":
    f = f.drop(i)

In [ ]:
# 重設index
f = f.reset_index(drop=True)

In [ ]:
# 尋找缺失值

f.isna().sum()

In [ ]:
f["都市土地使用分區"].value_counts()

In [ ]:
s = f["zone"]
for i in range(0, 452):
  if s[i] == "都市：其他:第三種住宅區。":
    s[i] = s[i].replace("都市：其他:第三種住宅區。", "住")

In [ ]:
f["都市土地使用分區"].value_counts()

In [ ]:
s = f["zone"]
for i in range(0, 452):
  if s[i] == "都市：其他:第二種住宅區。":
    s[i] = s[i].replace("都市：其他:第二種住宅區。", "住")

In [ ]:
f["都市土地使用分區"].value_counts()

In [ ]:
s = f["zone"]
for i in range(0, 452):
  if s[i] == "都市：其他:第三種商業區。":
    s[i] = s[i].replace("都市：其他:第三種商業區。", "商")

In [ ]:
f["都市土地使用分區"].value_counts()

In [ ]:
s = f["zone"]
for i in range(0, 452):
  if s[i] == "都市：其他:第四種住宅區。":
    s[i] = s[i].replace("都市：其他:第四種住宅區。", "住")

In [ ]:
f["都市土地使用分區"].value_counts()

In [ ]:
s = f["zone"]
for i in range(0, 452):
  if s[i] == "都市：其他:科技工業區(A區)(不得作住宅使用)。":
    s[i] = s[i].replace("都市：其他:科技工業區(A區)(不得作住宅使用)。", "工")

In [ ]:
f["都市土地使用分區"].value_counts()

In [ ]:
c = f["zone"].value_counts()

def change(n):
  if n in c[c > 10].index:
    return n
  else:
    return "其他都市土地使用分區"

f["zone"] = f["zone"].apply(change)

In [ ]:
f["zone"].value_counts()

住             282
商             122
其他都市土地使用分區     48
Name: zone, dtype: int64

In [ ]:
f.isna().sum()

In [ ]:
f["總樓層數"].value_counts()

In [ ]:
column_dict = {"--":None, "":None, None:0, '陽台':1, '平台':1, '屋頂突出物':1, '夾層':1, '電梯樓梯間':1, '騎樓':1, '陽臺':1, '地下一層':0, '地下層':0, '全':100, '一層':1, '二層':2, '三層':3, '四層':4, '五層':5, '六層':6, '七層':7, '八層':8, '九層':9, '十層':10, '十一層':11, '十二層':12, '十三層':13, '十四層':14, '十五層':15, '十六層':16, '十七層':17, '十八層':18, '十九層':19, '二十層':20, '二十一層':21, '二十二層':22, '二十三層':23, '二十四層':24, '二十五層':25, '二十六層':26, '二十七層':27, '二十八層':28, '二十九層':29, '三十層':30, '三十一層':31, '三十二層':32, '三十三層':33, '三十四層':34, '三十五層':35, '三十六層':36, '三十七層':37, '三十八層':38, '三十九層':39, '四十層':40, '四十一層':41, '四十二層':42, '四十三層':43, '四十四層':44, '四十五層':45, '四十六層':46, '四十七層':47, '四十八層':48, '四十九層':49, '五十層':50}

In [ ]:
f = f.replace({"totalf": column_dict})

In [ ]:
f.isna().sum()

In [ ]:
f["主要用途"].value_counts()

In [ ]:
# 填補主要用途缺失值

most = f["mainuse"].value_counts().idxmax()
f["mainuse"] = f["mainuse"].fillna(most)

In [ ]:
f.isna().sum()

In [ ]:
f["車位類別"].isna().sum()

319

In [ ]:
f["parkcat"] = f["parkcat"].fillna("無車位")

In [ ]:
s = f["parkcat"]
for i in range(0, 452):
  if s[i] == "其他":
    s[i] = s[i].replace("其他", "其他車位類別")

In [ ]:
f["車位類別"].value_counts()

In [ ]:
c = f["parkcat"].value_counts()

def change(n):
  if n in c[c > 2].index:
    return n
  else:
    return "其他車位類別"

f["parkcat"] = f["parkcat"].apply(change)

In [ ]:
s = f["parkcat"]
for i in range(0, 452):
  if s[i] == "坡道機械":
    s[i] = s[i].replace("坡道機械", "機械車位")

In [ ]:
c = f["parkcat"].value_counts()

def change(n):
  if n in c[c > 11].index:
    return n
  else:
    return "機械車位"

f["parkcat"] = f["parkcat"].apply(change)

In [ ]:
f["車位類別"].value_counts()

無車位       319
坡道平面       88
機械車位       29
其他車位類別     16
Name: 車位類別, dtype: int64

In [ ]:
f.isna().sum()

鄉鎮市區              0
交易標的              0
土地位置建物門牌          0
土地移轉總面積平方公尺       0
都市土地使用分區          0
交易年月日             0
移轉層次              0
總樓層數              0
建物型態              0
主要用途              0
主要建材              0
建築完成年月           21
建物移轉總面積平方公尺       0
建物現況格局-房          0
建物現況格局-廳          0
建物現況格局-衛          0
建物現況格局-隔間         0
有無管理組織            0
總價元               0
單價元平方公尺           0
車位類別              0
車位移轉總面積(平方公尺)     0
車位總價元             0
主建物面積             0
附屬建物面積            0
陽台面積              0
電梯                0
dtype: int64

In [ ]:
# 將交易標的轉one hot
dummy = pd.get_dummies(f["sign"])

In [ ]:
f = pd.concat([f, dummy], axis = 1)

In [ ]:
# 將都市土地使用分區轉one hot

dummy = pd.get_dummies(f["zone"])
f = pd.concat([f, dummy], axis = 1)

In [ ]:
# 將建物型態轉one hot

dummy = pd.get_dummies(f["建物型態"])
f = pd.concat([f, dummy], axis = 1)

In [ ]:
s = f["mainuse"]
for i in range(0, 452):
  if s[i] == "其他":
    s[i] = s[i].replace("其他", "其他主要用途")

In [ ]:
f["主要用途"].value_counts()

住家用       373
商業用        43
辦公用        14
其他主要用途     14
工業用         5
住商用         3
Name: 主要用途, dtype: int64

In [ ]:
# 將主要用途轉one hot

dummy = pd.get_dummies(f["mainuse"])
f = pd.concat([f, dummy], axis = 1)

In [ ]:
c = f["mater"].value_counts()

def change(n):
  if n in c[c > 2].index:
    return n
  else:
    return "鋼筋混凝土造"

f["mater"] = f["mater"].apply(change)

In [ ]:
s = f["mater"]
for i in range(0, 452):
  if s[i] == "加強磚造":
    s[i] = s[i].replace("加強磚造", "磚造")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
c = f["mater"].value_counts()

def change(n):
  if n in c[c > 10].index:
    return n
  else:
    return "鋼筋混凝土造"

f["mater"] = f["mater"].apply(change)

In [ ]:
f["主要建材"].value_counts()

鋼筋混凝土造    412
磚造         22
鋼骨造        18
Name: 主要建材, dtype: int64

In [ ]:
# 將主要建材轉one hot

dummy = pd.get_dummies(f["mater"])
f = pd.concat([f, dummy], axis = 1)

In [ ]:
f["車位類別"].value_counts()

無車位       319
坡道平面       88
機械車位       29
其他車位類別     16
Name: 車位類別, dtype: int64

In [ ]:
# 將車位類別轉one hot

dummy = pd.get_dummies(f["parkcat"])
f = pd.concat([f, dummy], axis = 1)

In [ ]:
tf_dict = {"有":1, "無":0}

f = f.replace({"org": tf_dict})

In [ ]:
tf_dict = {"有":1, "無":0}

f = f.replace({"sep": tf_dict})

In [ ]:
tf_dict = {"有":1, "無":0}

f = f.replace({"ele": tf_dict})

In [ ]:
# for i in range(1, len(f)):
#   if f["都市土地使用分區"][i]  != "住":
#     f = f.drop(i)

In [ ]:
# f = f.reset_index(drop=True)

In [ ]:
def change(n1):
  if pd.isna(n1):
    return n1
  else:
    x = n1.split("，")[0].strip()
    if x.find(",") != -1:
      return x.split(",")[0].strip()
    else:
      return x

In [ ]:
f["tradef"] = f["tradef"].apply(change)

In [ ]:
f["tradef"].value_counts()

In [ ]:
f = f.replace({"tradef": column_dict})

In [ ]:
f

In [ ]:
f["tradeymd"][450][0:3]
# f["建築完成年月"][0][0:3]

'108'

In [ ]:
f["建築完成年月"].isna().sum()

In [ ]:
for i in range(0, 452):
  f['tradeyr'][i] = int(f['tradeymd'][i][0:3])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
f["comy"] = f["comy"].fillna("0830101")

In [ ]:
for i in range(0, 452):
  f['buildyr'][i] = int(f["comy"][i][0:3])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
for i in range(0, 452):
  f["age"][i] = f["tradeyr"][i] - f["buildyr"][i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# # 將鄉鎮市區轉one hot

# dummy = pd.get_dummies(f["鄉鎮市區"])
# f = pd.concat([f, dummy], axis = 1)

In [ ]:
# state轉one hot

dummy = pd.get_dummies(f["state"])
f = pd.concat([f, dummy], axis = 1)

In [ ]:
f

In [ ]:
f.to_csv("台北市房屋交易_1108.csv", encoding="utf-8", index=False)

In [ ]:
import pandas as pd

In [ ]:
f = pd.read_csv("台北市房屋交易_1108_含通膨.csv", encoding = "utf-8")
pd.set_option('display.max_columns', 500)  # 增加顯示的列數

In [ ]:
df = pd.read_csv("所得.csv", encoding = "utf-8")
pd.set_option('display.max_columns', 500)  # 增加顯示的列數

In [ ]:
f

In [ ]:
df

In [ ]:
for i in range(0, 483):
  if df["村里"][i] != "合計":
    df = df.drop(i)

In [ ]:
# 重設index
df = df.reset_index(drop=True)

In [ ]:
df

In [ ]:
med_dict = {}

In [ ]:
for i in range(0, 12):
  med_dict[df["鄉鎮市區"][i]] = int(df["中位數"][i]) * 1000

In [ ]:
med_dict

In [ ]:
for i in range(0, 452):
  if f["dis"][i] in med_dict:
    f["med"][i] = med_dict[f["dis"][i]]

In [ ]:
f

In [ ]:
# 地址轉經緯度
import googlemaps

In [ ]:
for i in range(0, 452):  
  gmaps = googlemaps.Client(key="AIzaSyDPR5mvZH80ZcfqmrMGPDoyEs6K_vHffBU")
  address = f["add"][i]
  geocode = gmaps.geocode(address=address)
  (lat, lng) = map(geocode[0]['geometry']['location'].get, ('lat', 'lng'))

  f["lat"][i] = (lat, lng)[0]
  f["lng"][i] = (lat, lng)[1]

In [ ]:
f.to_csv("台北市房屋交易_1108_2.csv", encoding="utf-8", index=False)

# 物件方圓1000公尺內的捷運數量

In [ ]:
pip install googlemaps

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: googlemaps in /usr/local/lib/python3.7/dist-packages (4.6.0)
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from googlemaps) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.10)

In [ ]:
import pandas as pd
import googlemaps

In [ ]:
# 讀取csv檔案
f = pd.read_csv("台北市房屋交易_1108_2.csv", encoding = "utf-8")
pd.set_option('display.max_columns', 500)  # 增加顯示的列數

In [ ]:
# 讀取csv檔案
mrt = pd.read_csv("捷運出口 Final.csv", encoding = "utf-8")
pd.set_option('display.max_columns', 500)  # 增加顯示的列數

In [ ]:
mrt

      項次      出入口名稱 出入口編號         lat        lon
0      1     頂埔站出口1     1  121.418573  24.959283
1      2     頂埔站出口2     2  121.419000  24.959310
2      3     頂埔站出口3     3  121.419521  24.959769
3      4     頂埔站出口4     4  121.420100  24.960390
4      5   松山機場站出口1     1  121.552043  25.063631
..   ...        ...   ...         ...        ...
380  381     板橋站出口5     5  121.464312  25.015502
381  382    新埔民生站出口     0  121.466839  25.026125
382  383     幸福站出口1     1  121.460146  25.050126
383  384     幸福站出口2     2  121.460593  25.049545
384  385  新北產業園區站出口     0  121.459926  25.061548

[385 rows x 5 columns]

In [ ]:
f

In [ ]:
# 房屋與設施的距離
f["mrt_d"] = 1000

In [ ]:
f["mrt_q"] = ""

In [ ]:
# 測試單筆經緯度狀態

origin_lat = str(f["lat"][0])
origin_long = str(f["lng"][0])
origin = (origin_lat, origin_long)

destination_lat = str(25.167823325486495)
destination_long = str(121.44566840732315)
destination = (destination_lat, destination_long)

gmaps = googlemaps.Client(key="AIzaSyDPR5mvZH80ZcfqmrMGPDoyEs6K_vHffBU")

distance = gmaps.distance_matrix(origin, destination, mode='walking')


print(distance["rows"][0]["elements"][0]["status"], distance["destination_addresses"][0])

OK Tamsui, Zhongzheng Road, Tamsui District, New Taipei City, Taiwan 251

In [ ]:
times = 0
for j in range(0, 452):
  for i in range(0, 385):

    origin_lat = str(f["lat"][j])
    origin_long = str(f["lng"][j])
    origin = (origin_lat, origin_long)

    destination_lat = str(mrt["lon"][i])
    destination_long = str(mrt["lat"][i])
    destination = (destination_lat, destination_long)

    gmaps = googlemaps.Client(key="AIzaSyDPR5mvZH80ZcfqmrMGPDoyEs6K_vHffBU")

    distance = gmaps.distance_matrix(origin, destination, mode='walking')
    try:
      if distance['rows'][0]['elements'][0]["distance"]["value"] <= f["distance"][j]:
        times = times + 1
        f["mrt_q"][j] = times 
        
    except:
      print(i, distance["rows"][0]["elements"][0]["status"], distance["destination_addresses"][0])


# value單位為公尺

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
f.to_csv(".csv", encoding = "utf-8", index=False)

# JSON

In [ ]:
import json
import pandas as pd
from urllib.request import urlretrieve
import requests
from pandas import json_normalize

In [ ]:
url = "https://cloud.culture.tw/frontsite/trans/emapOpenDataAction.do?method=exportEmapJson&typeId=H"
data = requests.get(url)

In [ ]:
r = data.json()

In [ ]:
df = json_normalize(r)

In [ ]:
df

In [ ]:
df = df.drop(["phone", "email", "facebook", "srcWebsite", "mainTypePk", "version", "website"], axis=1)

In [ ]:
df = df.drop(["ticketPrice", "type"], axis=1)
df

In [ ]:
df = df.rename(columns={'groupTypeName': '類別'})

In [ ]:
df

In [ ]:
df = df.drop(0)
df

In [ ]:
df["cityName"][1] != "臺北市"

In [ ]:
df.loc

In [ ]:
for i in range(1, 133):
  if df["cityName"][i]  != "臺北市":
    df = df.drop(i)

In [ ]:
df

In [ ]:
df.to_csv("博物館.csv", encoding = "utf-8", index=False)