<a href="https://colab.research.google.com/github/cool60334/Team_Project_Model/blob/main/CSV_process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSV

In [ ]:
# import csv

In [ ]:
# file = open("taipei_scenic_spot.csv")
# reader = csv.reader(file)
# data_list = list(reader)
# file.close()

In [ ]:
# # data_list[1].insert(0, "娛樂")
# # data_list[1].remove("娛樂")
# data_list[0].insert(0, "類別")
# data_list[0]

In [ ]:
# for i in range(1, (len(data_list)-1)):
#   data_list[i].insert(0, "娛樂")

In [ ]:
# data_list[2]

In [ ]:
# with open("taipei_scenic_spot_1.csv", "w", encoding="utf-8") as f:
#   for i in range(0, (len(data_list)-1)):
#     writer = csv.writer(f)
#     writer.writerow(data_list[i])

In [ ]:
# with open("taipei_scenic_spot.csv", "w", encoding="utf-8") as f:
#   writer = csv.writer(f)
#   writer.writerow(data_list[0])
#   for i in range (1, (len(data_list)-1)):
   
#     if data_list[i][8] == "臺北市":

#       writer.writerow(data_list[i])

# 資料處理

In [1]:
import pandas as pd

In [2]:
# 讀取csv檔案
f = pd.read_csv("a_lvr_land_a.csv", encoding = "utf-8")
pd.set_option('display.max_columns', 500)  # 增加顯示的列數

In [3]:
# 移除不必要欄位
f = f.drop(["非都市土地使用分區", "非都市土地使用編定", "交易筆棟數", "備註", "移轉編號", "編號"], axis = 1)

In [7]:
f = f.rename(columns={"鄉鎮市區": "dis", "交易標的": "sign", "土地位置建物門牌": "add", "土地移轉總面積平方公尺": "totalm2", "都市土地使用分區": "zone",
            "交易年月日": "tradeymd", "移轉層次": "tradef", "總樓層數": "totalf", "建物型態": "state", "主要用途": "mainuse", "主要建材": "mater",
            "建築完成年月": "comy", "建物移轉總面積平方公尺": "totalbm2", "建物現況格局-房": "room", "建物現況格局-廳": "hall", "建物現況格局-衛": "health",
            "建物現況格局-隔間": "sep", "有無管理組織": "org", "總價元":"tp", "單價元平方公尺": "unitp", "車位類別": "parkcat", "車位移轉總面積(平方公尺)": "parkm2",
            "車位總價元": "parkp", "主建物面積": "mainbm2", "附屬建物面積": "auxbm2", "陽台面積": "balm2", "電梯": "ele"})

In [ ]:
f

In [9]:
# 移除英文欄位名稱
f = f.drop(0)

In [11]:
# 移除交易標的 土地
for i in range(1, 569):
  if f["sign"][i]  == "土地":
    f = f.drop(i)

In [12]:
# 重設index
f = f.reset_index(drop=True)

In [13]:
# 移除交易標的 車位
for i in range(0, 477):
  if f["sign"][i]  == "車位":
    f = f.drop(i)

In [14]:
# 重設index
f = f.reset_index(drop=True)

In [ ]:
# 尋找缺失值

f.isna().sum()

In [ ]:
f["都市土地使用分區"].value_counts()

In [15]:
s = f["zone"]
for i in range(0, 452):
  if s[i] == "都市：其他:第三種住宅區。":
    s[i] = s[i].replace("都市：其他:第三種住宅區。", "住")

In [ ]:
f["都市土地使用分區"].value_counts()

In [16]:
s = f["zone"]
for i in range(0, 452):
  if s[i] == "都市：其他:第二種住宅區。":
    s[i] = s[i].replace("都市：其他:第二種住宅區。", "住")

In [ ]:
f["都市土地使用分區"].value_counts()

In [17]:
s = f["zone"]
for i in range(0, 452):
  if s[i] == "都市：其他:第三種商業區。":
    s[i] = s[i].replace("都市：其他:第三種商業區。", "商")

In [ ]:
f["都市土地使用分區"].value_counts()

In [18]:
s = f["zone"]
for i in range(0, 452):
  if s[i] == "都市：其他:第四種住宅區。":
    s[i] = s[i].replace("都市：其他:第四種住宅區。", "住")

In [ ]:
f["都市土地使用分區"].value_counts()

In [19]:
s = f["zone"]
for i in range(0, 452):
  if s[i] == "都市：其他:科技工業區(A區)(不得作住宅使用)。":
    s[i] = s[i].replace("都市：其他:科技工業區(A區)(不得作住宅使用)。", "工")

In [ ]:
f["都市土地使用分區"].value_counts()

In [20]:
c = f["zone"].value_counts()

def change(n):
  if n in c[c > 10].index:
    return n
  else:
    return "其他都市土地使用分區"

f["zone"] = f["zone"].apply(change)

In [21]:
f["zone"].value_counts()

住             282
商             122
其他都市土地使用分區     48
Name: zone, dtype: int64

In [ ]:
f.isna().sum()

In [ ]:
f["總樓層數"].value_counts()

In [22]:
column_dict = {"--":None, "":None, None:0, '陽台':1, '平台':1, '屋頂突出物':1, '夾層':1, '電梯樓梯間':1, '騎樓':1, '陽臺':1, '地下一層':0, '地下層':0, '全':100, '一層':1, '二層':2, '三層':3, '四層':4, '五層':5, '六層':6, '七層':7, '八層':8, '九層':9, '十層':10, '十一層':11, '十二層':12, '十三層':13, '十四層':14, '十五層':15, '十六層':16, '十七層':17, '十八層':18, '十九層':19, '二十層':20, '二十一層':21, '二十二層':22, '二十三層':23, '二十四層':24, '二十五層':25, '二十六層':26, '二十七層':27, '二十八層':28, '二十九層':29, '三十層':30, '三十一層':31, '三十二層':32, '三十三層':33, '三十四層':34, '三十五層':35, '三十六層':36, '三十七層':37, '三十八層':38, '三十九層':39, '四十層':40, '四十一層':41, '四十二層':42, '四十三層':43, '四十四層':44, '四十五層':45, '四十六層':46, '四十七層':47, '四十八層':48, '四十九層':49, '五十層':50}

In [23]:
f = f.replace({"totalf": column_dict})

In [ ]:
f.isna().sum()

In [ ]:
f["主要用途"].value_counts()

In [24]:
# 填補主要用途缺失值

most = f["mainuse"].value_counts().idxmax()
f["mainuse"] = f["mainuse"].fillna(most)

In [ ]:
f.isna().sum()

In [ ]:
f["車位類別"].isna().sum()

319

In [25]:
f["parkcat"] = f["parkcat"].fillna("無車位")

In [26]:
s = f["parkcat"]
for i in range(0, 452):
  if s[i] == "其他":
    s[i] = s[i].replace("其他", "其他車位類別")

In [ ]:
f["車位類別"].value_counts()

In [27]:
c = f["parkcat"].value_counts()

def change(n):
  if n in c[c > 2].index:
    return n
  else:
    return "其他車位類別"

f["parkcat"] = f["parkcat"].apply(change)

In [28]:
s = f["parkcat"]
for i in range(0, 452):
  if s[i] == "坡道機械":
    s[i] = s[i].replace("坡道機械", "機械車位")

In [30]:
c = f["parkcat"].value_counts()

def change(n):
  if n in c[c > 11].index:
    return n
  else:
    return "機械車位"

f["parkcat"] = f["parkcat"].apply(change)

In [30]:
f["車位類別"].value_counts()

無車位       319
坡道平面       88
機械車位       29
其他車位類別     16
Name: 車位類別, dtype: int64

In [31]:
f.isna().sum()

鄉鎮市區              0
交易標的              0
土地位置建物門牌          0
土地移轉總面積平方公尺       0
都市土地使用分區          0
交易年月日             0
移轉層次              0
總樓層數              0
建物型態              0
主要用途              0
主要建材              0
建築完成年月           21
建物移轉總面積平方公尺       0
建物現況格局-房          0
建物現況格局-廳          0
建物現況格局-衛          0
建物現況格局-隔間         0
有無管理組織            0
總價元               0
單價元平方公尺           0
車位類別              0
車位移轉總面積(平方公尺)     0
車位總價元             0
主建物面積             0
附屬建物面積            0
陽台面積              0
電梯                0
dtype: int64

In [31]:
# 將交易標的轉one hot
dummy = pd.get_dummies(f["sign"])

In [32]:
f = pd.concat([f, dummy], axis = 1)

In [33]:
# 將都市土地使用分區轉one hot

dummy = pd.get_dummies(f["zone"])
f = pd.concat([f, dummy], axis = 1)

In [35]:
# 將建物型態轉one hot

dummy = pd.get_dummies(f["建物型態"])
f = pd.concat([f, dummy], axis = 1)

In [ ]:
s = f["mainuse"]
for i in range(0, 452):
  if s[i] == "其他":
    s[i] = s[i].replace("其他", "其他主要用途")

In [37]:
f["主要用途"].value_counts()

住家用       373
商業用        43
辦公用        14
其他主要用途     14
工業用         5
住商用         3
Name: 主要用途, dtype: int64

In [35]:
# 將主要用途轉one hot

dummy = pd.get_dummies(f["mainuse"])
f = pd.concat([f, dummy], axis = 1)

In [36]:
c = f["mater"].value_counts()

def change(n):
  if n in c[c > 2].index:
    return n
  else:
    return "鋼筋混凝土造"

f["mater"] = f["mater"].apply(change)

In [37]:
s = f["mater"]
for i in range(0, 452):
  if s[i] == "加強磚造":
    s[i] = s[i].replace("加強磚造", "磚造")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [38]:
c = f["mater"].value_counts()

def change(n):
  if n in c[c > 10].index:
    return n
  else:
    return "鋼筋混凝土造"

f["mater"] = f["mater"].apply(change)

In [42]:
f["主要建材"].value_counts()

鋼筋混凝土造    412
磚造         22
鋼骨造        18
Name: 主要建材, dtype: int64

In [39]:
# 將主要建材轉one hot

dummy = pd.get_dummies(f["mater"])
f = pd.concat([f, dummy], axis = 1)

In [44]:
f["車位類別"].value_counts()

無車位       319
坡道平面       88
機械車位       29
其他車位類別     16
Name: 車位類別, dtype: int64

In [40]:
# 將車位類別轉one hot

dummy = pd.get_dummies(f["parkcat"])
f = pd.concat([f, dummy], axis = 1)

In [41]:
tf_dict = {"有":1, "無":0}

f = f.replace({"org": tf_dict})

In [42]:
tf_dict = {"有":1, "無":0}

f = f.replace({"sep": tf_dict})

In [43]:
tf_dict = {"有":1, "無":0}

f = f.replace({"ele": tf_dict})

In [ ]:
# for i in range(1, len(f)):
#   if f["都市土地使用分區"][i]  != "住":
#     f = f.drop(i)

In [ ]:
# f = f.reset_index(drop=True)

In [44]:
def change(n1):
  if pd.isna(n1):
    return n1
  else:
    x = n1.split("，")[0].strip()
    if x.find(",") != -1:
      return x.split(",")[0].strip()
    else:
      return x

In [45]:
f["tradef"] = f["tradef"].apply(change)

In [ ]:
f["tradef"].value_counts()

In [47]:
f = f.replace({"tradef": column_dict})

In [ ]:
f

In [48]:
f["tradeymd"][450][0:3]
# f["建築完成年月"][0][0:3]

'108'

In [ ]:
f["建築完成年月"].isna().sum()

In [51]:
for i in range(0, 452):
  f['tradeyr'][i] = int(f['tradeymd'][i][0:3])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [52]:
f["comy"] = f["comy"].fillna("0830101")

In [54]:
for i in range(0, 452):
  f['buildyr'][i] = int(f["comy"][i][0:3])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [57]:
for i in range(0, 452):
  f["age"][i] = f["tradeyr"][i] - f["buildyr"][i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [92]:
# # 將鄉鎮市區轉one hot

# dummy = pd.get_dummies(f["鄉鎮市區"])
# f = pd.concat([f, dummy], axis = 1)

In [65]:
# state轉one hot

dummy = pd.get_dummies(f["state"])
f = pd.concat([f, dummy], axis = 1)

In [ ]:
f

In [67]:
f.to_csv("台北市房屋交易_1108.csv", encoding="utf-8", index=False)

In [2]:
import pandas as pd

In [3]:
f = pd.read_csv("台北市房屋交易_1108_含通膨.csv", encoding = "utf-8")
pd.set_option('display.max_columns', 500)  # 增加顯示的列數

In [4]:
df = pd.read_csv("所得.csv", encoding = "utf-8")
pd.set_option('display.max_columns', 500)  # 增加顯示的列數

In [ ]:
f

In [ ]:
df

In [6]:
for i in range(0, 483):
  if df["村里"][i] != "合計":
    df = df.drop(i)

In [8]:
# 重設index
df = df.reset_index(drop=True)

In [ ]:
df

In [10]:
med_dict = {}

In [22]:
for i in range(0, 12):
  med_dict[df["鄉鎮市區"][i]] = int(df["中位數"][i]) * 1000

In [ ]:
med_dict

In [ ]:
for i in range(0, 452):
  if f["dis"][i] in med_dict:
    f["med"][i] = med_dict[f["dis"][i]]

In [ ]:
f

In [30]:
# 地址轉經緯度
import googlemaps

In [ ]:
for i in range(0, 452):  
  gmaps = googlemaps.Client(key="AIzaSyDPR5mvZH80ZcfqmrMGPDoyEs6K_vHffBU")
  address = f["add"][i]
  geocode = gmaps.geocode(address=address)
  (lat, lng) = map(geocode[0]['geometry']['location'].get, ('lat', 'lng'))

  f["lat"][i] = (lat, lng)[0]
  f["lng"][i] = (lat, lng)[1]

In [47]:
f.to_csv("台北市房屋交易_1108_2.csv", encoding="utf-8", index=False)

# 物件方圓1000公尺內的捷運數量

In [48]:
# 讀取csv檔案
f = pd.read_csv("台北市房屋交易_1108_2.csv", encoding = "utf-8")
pd.set_option('display.max_columns', 500)  # 增加顯示的列數

In [49]:
# 讀取csv檔案
mrt = pd.read_csv("捷運出口 Final.csv", encoding = "utf-8")
pd.set_option('display.max_columns', 500)  # 增加顯示的列數

In [51]:
mrt

      項次      出入口名稱 出入口編號          經度         緯度 是否為無障礙用
0      1     頂埔站出口1     1  121.418573  24.959283       是
1      2     頂埔站出口2     2  121.419000  24.959310       否
2      3     頂埔站出口3     3  121.419521  24.959769       是
3      4     頂埔站出口4     4  121.420100  24.960390       是
4      5   松山機場站出口1     1  121.552043  25.063631       是
..   ...        ...   ...         ...        ...     ...
380  381     板橋站出口5     5  121.464312  25.015502       是
381  382    新埔民生站出口     0  121.466839  25.026125       是
382  383     幸福站出口1     1  121.460146  25.050126       是
383  384     幸福站出口2     2  121.460593  25.049545       否
384  385  新北產業園區站出口     0  121.459926  25.061548       是

[385 rows x 6 columns]

In [100]:
import googlemaps
import pandas as pd

gmaps = googlemaps.Client(key="AIzaSyDPR5mvZH80ZcfqmrMGPDoyEs6K_vHffBU")

times = 0


for i in range(0, 385):

  # 如果您有起点和终点的地理坐标(纬度和经度)，请执行以下操作：# Requires geo-coordinates(latitude/longitude) of origin and destination

  origin_lat = f["lat"][4]
  origin_long = f["lng"][4]

  destination_lat = mrt["緯度"][i]
  destination_long = mrt["經度"][i]

  distance = gmaps.distance_matrix([str(origin_lat) + " " + str(origin_long)], [str(destination_lat) + " " + str(destination_long)], mode='walking')['rows'][0]['elements'][0]
  # mode : BICYCLING、 DRIVING、 TRANSIT、 WALKING
  # 可參考網址 : https://developers.google.com/maps/documentation/javascript/reference?csw=1#DirectionsRequest

  if distance["distance"]["value"] <= 1000:
    times = times + 1 
  else:
    times

  f["mrt_q"][4] = times
  


# print(distance["distance"]["text"], distance["distance"]["value"])  # value單位為公尺

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

KeyError: ignored

In [67]:
# 物件與MRT的距離
f["distance2mrt"] = 1000

In [101]:
f

,dis,sign,add,totalm2,zone,tradeymd,tradef,totalf,state,mainuse,mater,comy,totalbm2,room,hall,health,sep,org,tp,unitp,parkcat,parkm2,parkp,mainbm2,auxbm2,balm2,ele,建物,房地(土地+建物),房地(土地+建物)+車位,住,其他都市土地使用分區,商,住商用,住家用,其他主要用途,商業用,工業用,辦公用,磚造,鋼筋混凝土造,鋼骨造,其他車位類別,坡道平面,機械車位,無車位,tradeyr,buildyr,age,住宅大樓(11層含以上有電梯),公寓(5樓含以下無電梯),華廈(10層含以下有電梯),透天厝,year_average_cpi,year_increase_cpi,med,lat,lng,distance2mrt,mrt_q
0,內湖區,房地(土地+建物)+車位,臺北市內湖區瑞光路３１６巷５６號六樓,56.75,其他都市土地使用分區,1111005,6,11,住宅大樓(11層含以上有電梯),辦公用,鋼骨造,960215,483.15,0,0,0,0,1,80000000,178307,坡道平面,64.77,5400000,214.98,8.23,0.00,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,111,96,15,1,0,0,0,107.12,0.00,593000,25.076004,121.573015,1000,2
1,北投區,房地(土地+建物),臺北市北投區民族街４３巷２６號二樓,30.40,住,1111003,2,5,公寓(5樓含以下無電梯),住家用,鋼筋混凝土造,661214,102.12,3,2,2,1,0,10500000,102820,無車位,0.00,0,89.78,0.00,12.34,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,111,66,45,0,1,0,0,107.12,0.00,526000,25.134089,121.506216,1000,3
2,大安區,房地(土地+建物),臺北市大安區永康街４巷２之２號,29.50,住,1111006,3,4,公寓(5樓含以下無電梯),住家用,磚造,580725,72.75,2,1,1,1,0,21200000,291409,無車位,0.00,0,72.75,0.00,0.00,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,111,58,53,0,1,0,0,107.12,0.00,704000,25.032871,121.529707,1000,0
3,士林區,房地(土地+建物),臺北市士林區延平北路六段１１６巷２弄８號三樓,31.10,住,1111003,3,4,公寓(5樓含以下無電梯),住家用,鋼筋混凝土造,701231,74.97,3,1,2,1,0,7500000,100040,無車位,0.00,0,65.52,0.00,9.45,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,111,70,41,0,1,0,0,107.12,0.00,527000,25.089301,121.508197,1000,0
4,大同區,房地(土地+建物),臺北市大同區寧夏路１６號,5.80,商,1110923,100,3,透天厝,住家用,磚造,830101,12.21,3,3,3,1,0,4000000,327600,無車位,0.00,0,12.20,0.00,0.00,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,111,83,28,0,0,0,1,107.12,0.00,484000,25.054748,121.514794,1000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,大安區,房地(土地+建物)+車位,臺北市大安區雲和街１０１號四樓之２,27.95,住,1081016,4,12,住宅大樓(11層含以上有電梯),住家用,鋼筋混凝土造,1110811,200.92,4,2,2,1,1,58300000,346377,坡道平面,40.69,2800000,96.03,0.00,11.61,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,108,111,-3,1,0,0,0,102.55,0.56,704000,25.023312,121.532085,1000,
448,大安區,房地(土地+建物)+車位,臺北市大安區雲和街１０１號四樓之１,24.04,住,1081020,4,12,住宅大樓(11層含以上有電梯),住家用,鋼筋混凝土造,1110811,178.46,4,2,2,1,1,50300000,345503,坡道平面,40.69,2700000,82.58,0.00,9.96,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,108,111,-3,1,0,0,0,102.55,0.56,704000,25.023312,121.532085,1000,
449,大安區,房地(土地+建物)+車位,臺北市大安區雲和街１０１號七樓之１,24.04,住,1080826,7,12,住宅大樓(11層含以上有電梯),住家用,鋼筋混凝土造,1110811,219.15,2,2,2,1,1,54650000,353125,坡道平面,81.38,6000000,82.58,0.00,9.96,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,108,111,-3,1,0,0,0,102.55,0.56,704000,25.023312,121.532085,1000,
450,大安區,房地(土地+建物)+車位,臺北市大安區雲和街１０１號七樓,21.22,住,1080826,7,12,住宅大樓(11層含以上有電梯),住家用,鋼筋混凝土造,1110811,158.44,1,2,1,1,1,44200000,349894,坡道平面,40.69,3000000,72.92,0.00,4.91,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,108,111,-3,1,0,0,0,102.55,0.56,704000,25.023312,121.532085,1000,
451,北投區,房地(土地+建物)+車位,臺北市北投區西安街二段２０３號八樓之２,19.28,住,1080316,8,15,住宅大樓(11層含以上有電梯),住家用,鋼筋混凝土造,1110106,165.25,3,2,2,1,1,30600000,211689,坡道平面,34.87,3000000,70.88,6.97,7.19,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,108,111,-3,1,0,0,0,102.55,0.56,526000,25.119740,121.510010,1000,

# JSON

In [ ]:
import json
import pandas as pd
from urllib.request import urlretrieve
import requests
from pandas import json_normalize

In [ ]:
url = "https://cloud.culture.tw/frontsite/trans/emapOpenDataAction.do?method=exportEmapJson&typeId=H"
data = requests.get(url)

In [ ]:
r = data.json()

In [ ]:
df = json_normalize(r)

In [ ]:
df

In [ ]:
df = df.drop(["phone", "email", "facebook", "srcWebsite", "mainTypePk", "version", "website"], axis=1)

In [ ]:
df = df.drop(["ticketPrice", "type"], axis=1)
df

In [ ]:
df = df.rename(columns={'groupTypeName': '類別'})

In [ ]:
df

In [ ]:
df = df.drop(0)
df

In [ ]:
df["cityName"][1] != "臺北市"

In [ ]:
df.loc

In [ ]:
for i in range(1, 133):
  if df["cityName"][i]  != "臺北市":
    df = df.drop(i)

In [ ]:
df

In [ ]:
df.to_csv("博物館.csv", encoding = "utf-8", index=False)