<a href="https://colab.research.google.com/github/cool60334/Team_Project_Model/blob/main/Model_1108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

台北市房屋交易_1108_2.csv 在github

In [2]:
# 讀取csv檔案
f = pd.read_csv("台北市房屋交易_1108_2.csv", encoding = "utf-8")
pd.set_option('display.max_columns', 200)  # 增加顯示的列數

In [3]:
f

,dis,sign,add,totalm2,zone,tradeymd,tradef,totalf,state,mainuse,mater,comy,totalbm2,room,hall,health,sep,org,tp,unitp,parkcat,parkm2,parkp,mainbm2,auxbm2,balm2,ele,建物,房地(土地+建物),房地(土地+建物)+車位,住,其他都市土地使用分區,商,住商用,住家用,其他主要用途,商業用,工業用,辦公用,磚造,鋼筋混凝土造,鋼骨造,其他車位類別,坡道平面,機械車位,無車位,tradeyr,buildyr,age,住宅大樓(11層含以上有電梯),公寓(5樓含以下無電梯),華廈(10層含以下有電梯),透天厝,year_average_cpi,year_increase_cpi,med,lat,lng
0,內湖區,房地(土地+建物)+車位,臺北市內湖區瑞光路３１６巷５６號六樓,56.75,其他都市土地使用分區,1111005,6,11,住宅大樓(11層含以上有電梯),辦公用,鋼骨造,960215,483.15,0,0,0,0,1,80000000,178307,坡道平面,64.77,5400000,214.98,8.23,0.00,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,111,96,15,1,0,0,0,107.12,0.00,593000,25.076004,121.573015
1,北投區,房地(土地+建物),臺北市北投區民族街４３巷２６號二樓,30.40,住,1111003,2,5,公寓(5樓含以下無電梯),住家用,鋼筋混凝土造,661214,102.12,3,2,2,1,0,10500000,102820,無車位,0.00,0,89.78,0.00,12.34,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,111,66,45,0,1,0,0,107.12,0.00,526000,25.134089,121.506216
2,大安區,房地(土地+建物),臺北市大安區永康街４巷２之２號,29.50,住,1111006,3,4,公寓(5樓含以下無電梯),住家用,磚造,580725,72.75,2,1,1,1,0,21200000,291409,無車位,0.00,0,72.75,0.00,0.00,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,111,58,53,0,1,0,0,107.12,0.00,704000,25.032871,121.529707
3,士林區,房地(土地+建物),臺北市士林區延平北路六段１１６巷２弄８號三樓,31.10,住,1111003,3,4,公寓(5樓含以下無電梯),住家用,鋼筋混凝土造,701231,74.97,3,1,2,1,0,7500000,100040,無車位,0.00,0,65.52,0.00,9.45,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,111,70,41,0,1,0,0,107.12,0.00,527000,25.089301,121.508197
4,大同區,房地(土地+建物),臺北市大同區寧夏路１６號,5.80,商,1110923,100,3,透天厝,住家用,磚造,830101,12.21,3,3,3,1,0,4000000,327600,無車位,0.00,0,12.20,0.00,0.00,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,111,83,28,0,0,0,1,107.12,0.00,484000,25.054748,121.514794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,大安區,房地(土地+建物)+車位,臺北市大安區雲和街１０１號四樓之２,27.95,住,1081016,4,12,住宅大樓(11層含以上有電梯),住家用,鋼筋混凝土造,1110811,200.92,4,2,2,1,1,58300000,346377,坡道平面,40.69,2800000,96.03,0.00,11.61,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,108,111,-3,1,0,0,0,102.55,0.56,704000,25.023312,121.532085
448,大安區,房地(土地+建物)+車位,臺北市大安區雲和街１０１號四樓之１,24.04,住,1081020,4,12,住宅大樓(11層含以上有電梯),住家用,鋼筋混凝土造,1110811,178.46,4,2,2,1,1,50300000,345503,坡道平面,40.69,2700000,82.58,0.00,9.96,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,108,111,-3,1,0,0,0,102.55,0.56,704000,25.023312,121.532085
449,大安區,房地(土地+建物)+車位,臺北市大安區雲和街１０１號七樓之１,24.04,住,1080826,7,12,住宅大樓(11層含以上有電梯),住家用,鋼筋混凝土造,1110811,219.15,2,2,2,1,1,54650000,353125,坡道平面,81.38,6000000,82.58,0.00,9.96,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,108,111,-3,1,0,0,0,102.55,0.56,704000,25.023312,121.532085
450,大安區,房地(土地+建物)+車位,臺北市大安區雲和街１０１號七樓,21.22,住,1080826,7,12,住宅大樓(11層含以上有電梯),住家用,鋼筋混凝土造,1110811,158.44,1,2,1,1,1,44200000,349894,坡道平面,40.69,3000000,72.92,0.00,4.91,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,108,111,-3,1,0,0,0,102.55,0.56,704000,25.023312,121.532085
451,北投區,房地(土地+建物)+車位,臺北市北投區西安街二段２０３號八樓之２,19.28,住,1080316,8,15,住宅大樓(11層含以上有電梯),住家用,鋼筋混凝土造,1110106,165.25,3,2,2,1,1,30600000,211689,坡道平面,34.87,3000000,70.88,6.97,7.19,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,108,111,-3,1,0,0,0,102.55,0.56,526000,25.119740,121.510010

In [4]:
# 去除非數值欄位(鄉鎮市區、地址、交易年月日、建築完成年月、交易年分、建築年分、緯度、經度)
# 去除已轉換成one-hot欄位(交易標的、土地使用分區、建築型態、主要用途、主要建材、車位類別)

f = f.drop(["dis", "sign", "add", "zone", "tradeymd", "state", "mainuse", "mater", "comy", "parkcat", "tradeyr", "buildyr", "lat", "lng"], axis=1)

In [5]:
f

,totalm2,tradef,totalf,totalbm2,room,hall,health,sep,org,tp,unitp,parkm2,parkp,mainbm2,auxbm2,balm2,ele,建物,房地(土地+建物),房地(土地+建物)+車位,住,其他都市土地使用分區,商,住商用,住家用,其他主要用途,商業用,工業用,辦公用,磚造,鋼筋混凝土造,鋼骨造,其他車位類別,坡道平面,機械車位,無車位,age,住宅大樓(11層含以上有電梯),公寓(5樓含以下無電梯),華廈(10層含以下有電梯),透天厝,year_average_cpi,year_increase_cpi,med
0,56.75,6,11,483.15,0,0,0,0,1,80000000,178307,64.77,5400000,214.98,8.23,0.00,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,15,1,0,0,0,107.12,0.00,593000
1,30.40,2,5,102.12,3,2,2,1,0,10500000,102820,0.00,0,89.78,0.00,12.34,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,45,0,1,0,0,107.12,0.00,526000
2,29.50,3,4,72.75,2,1,1,1,0,21200000,291409,0.00,0,72.75,0.00,0.00,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,53,0,1,0,0,107.12,0.00,704000
3,31.10,3,4,74.97,3,1,2,1,0,7500000,100040,0.00,0,65.52,0.00,9.45,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,41,0,1,0,0,107.12,0.00,527000
4,5.80,100,3,12.21,3,3,3,1,0,4000000,327600,0.00,0,12.20,0.00,0.00,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,28,0,0,0,1,107.12,0.00,484000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,27.95,4,12,200.92,4,2,2,1,1,58300000,346377,40.69,2800000,96.03,0.00,11.61,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,-3,1,0,0,0,102.55,0.56,704000
448,24.04,4,12,178.46,4,2,2,1,1,50300000,345503,40.69,2700000,82.58,0.00,9.96,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,-3,1,0,0,0,102.55,0.56,704000
449,24.04,7,12,219.15,2,2,2,1,1,54650000,353125,81.38,6000000,82.58,0.00,9.96,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,-3,1,0,0,0,102.55,0.56,704000
450,21.22,7,12,158.44,1,2,1,1,1,44200000,349894,40.69,3000000,72.92,0.00,4.91,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,-3,1,0,0,0,102.55,0.56,704000
451,19.28,8,15,165.25,3,2,2,1,1,30600000,211689,34.87,3000000,70.88,6.97,7.19,1,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,-3,1,0,0,0,102.55,0.56,526000

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
import numpy as np

In [8]:
# 特徵(去除總價元、單價元平方公尺、車位總價元)

x = np.array(f.drop(["tp","unitp","parkp"], axis = 1))

In [9]:
# 目標(取得總價元)

y = np.array(f["tp"])

In [11]:
# 切分資料(特徵90%，特徵10%，目標90%，目標10%)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1)

#### 請找出max_depth為幾層的時候會有最好的r2_score
####每一層至少跑5次並記錄下每次r2_score的數據

In [18]:
from sklearn.tree import DecisionTreeRegressor

# 建立迴歸決策樹
reg = DecisionTreeRegressor(max_depth=8)

# 訓練迴歸決策樹
reg.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=8)

In [19]:
from sklearn.metrics import r2_score

# 將測試用特徵帶入模型做預測
pre = reg.predict(x_test)

# 預測準確度
r2_score(y_test, pre)

0.5454857395061621

In [ ]:
# from sklearn.tree import export_graphviz
# import graphviz

# g = export_graphviz(reg, out_file=None, 
#             feature_names=f.drop(["tp","unitp","parkp"], axis = 1).columns,     
#             filled=True, special_characters=True)

# graph = graphviz.Source(g)
# graph